.top-products-body {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.top-products-body::-webkit-scrollbar {
    width: 6px;
}

.top-products-body::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 20px;
}


.top-products-body {
    height: 420px;
    overflow-y: auto;
}

.dashboard-row {
    display: flex;
    align-items: stretch;
}

.top-products-card {
    height: 100%;
}

