/* Боковое меню */

.flex-column{
  font-size: 14px;
}
/* Боковое меню */

 

 
/* Хлебные крошки */
.navbar-brand {
    font-size: 24px;
    font-weight: 700;
}
.breadcrumb{
  margin-top: 10px;
  font-size: 14px;
}
/* Хлебные крошки */



/* Кнопка новый чек в разделе продажи */
.buttonblox {
  margin-bottom: 20px;
}
/* Кнопка новый чек в разделе продажи */